.Side {
    background-color: gray;
    width: 300px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    position: fixed;
    padding-top: 150px;
    
}
.Title {
    padding-left: 50px;
    font-size: 25px;
}

.Bloc:hover {
  background-color: white; 
  color : black;
  cursor: pointer;
}